src/main/resources/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="staff" type="staffType"/>
    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element name="name">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Carl Cracker"/>
                        <xs:enumeration value="Harry Hacker"/>
                        <xs:enumeration value="Tony Tester"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="salary">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="75000"/>
                        <xs:enumeration value="50000"/>
                        <xs:enumeration value="40000"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="hiredateType" name="hiredate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="hiredateType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="year" use="optional"/>
                <xs:attribute type="xs:string" name="month" use="optional"/>
                <xs:attribute type="xs:string" name="day" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="staffType">
        <xs:sequence>
            <xs:element type="employeeType" name="employee" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>